*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

/*  Header section  */
.header {
    height:50px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding : 0 35px 0 35px;
    z-index: 1;
}
.header {
    background: rgba(57, 57, 57, 0.7); /* Slightly transparent background with color #393939 */
    backdrop-filter: blur(10px); /* Adds the glass effect */
    -webkit-backdrop-filter: blur(10px);
}


.header-left{
    display: flex;
    gap : 10px;
    align-items: center;
}

.header-left img{
    object-fit: contain;
    height: 30px;
}
.header-left h1{
    font-size: 1.1rem;
}
@media screen and (max-width : 576px) {
    .header-left h1{
        display: none;
    }
}

.header-right{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    gap : 35px;
}
.list-item {
    transition: 0.5s ease-in;
}
.list-item:hover{
    opacity: 0.5;
    cursor: pointer;
    transform: scale(1.1,1.1);
    
}
.user-icon{
    display: none;
}

#toggle{
    display: none;
}
.side-bar{
    display: none;
}
#toggle:checked ~ .side-bar{
    display: flex;
    flex-direction: column;
    font-size: 12px;
}
.side-bar{
    position: absolute;
    top : 52px;
    right: 10px;
    border-top: 0;
    z-index: 10000;
    border-radius: 5px;
    border: none;
    background-color: rgba(57, 57, 57, 0.7);
}
.side-bar ul{
    list-style: none;
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
@media screen and (max-width : 576px) {
    .header-right{
        display: none;
    }
    .user-icon{
        display: flex;
        align-items: center;
        font-size: 25px;
    }
}


/* Banner Carousel */

#slider{
    overflow: hidden;
    z-index: 1;
}
#slider figure {
    width: 500%;
    position: relative;
    margin: 0;
    left:  0;
    animation: 20s slider infinite;
}
#slider figure img{
    width: 20%;
    float: left;
    height: 50vh;
    object-fit: cover;
    object-position: 30%,50%;
    border-radius: 10px;
    margin-top: 15px;
}

#pagination{
    overflow: hidden;
}
#items{
    width: 300%;
    position: relative;
    margin: 0;
    left:  0;
}
.item{
    float: left;
    width: 33.3%;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width : 576px) {
    .item{
        flex-direction: column;
        gap: 10px;
    }
}
@keyframes slider {
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left : -300%
    }
    100%{
        left : -400%
    }
    
}

/* sticky */
.big-text{
    font-size: 1.5em;
    padding : 20px 35px 20px 35px;
}
.menu{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    gap : 35px;
    padding : 0 35px 0 35px;
    position: sticky;
    height: 50px;
    top : 0;
}
.menu {
    background: rgba(57, 57, 57, 0.7); /* Slightly transparent background with color #393939 */
    backdrop-filter: blur(10px); /* Adds the glass effect */
    -webkit-backdrop-filter: blur(10px);
}


.products-menu{
    display: flex;
    flex-direction: column-reverse;
}

/* card */
.card{
    display: flex;
    flex-direction: column;
    color: black;
    padding : 20px 20px 20px 20px;
    height: 450px;
    background-color: white;
    width: 330px;
    border-radius: 8px;
    border: 1px solid gray;
}

.card-heading{
    font-size: 20px;
    font-weight: 550;
}
.card-img{
    margin: 15px 0px 15px 0;
}
.card-img img{
    height: 200px;
    display: block;
    width: 200px;
    object-fit: contain;
    margin: auto;
}
.description{
    font-size: 13px;
    font-weight: 500;
    margin-top:10px;
}
.price{
    font-size: 15px;
}

.card-buttons{
    display: flex;
    margin-top: 10px;
    justify-content: space-around;
}
.card-buttons button{
    padding : 7px;
    width: 100px;
    background-color: #57A7F8;
    border: none;
    color: white;
    border-radius: 8px;
}
/* .mobiles:hover ~ .menu .option-1{
    background-color: red;
} */

.product-category{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding : 0 35px 0 35px;
    gap : 50px;
    padding-top: 10px;
}
.products-menu{
    position: relative;
    gap: 20px;
}

.tab-img img{
    width: 300px;
    height: 200px;
}

.menu li{
    transition: 0.5s ease-in-out;
}
.menu li:hover{
    transform: scale(1.1);
}
/*  Menu pagination*/
.mobiles:hover ~ .menu .option-1 a{
    color: #00FFFF
}
.tabs:hover ~ .menu .option-2 a{
    color: #00FFFF
}
.watches:hover ~ .menu .option-3 a{
    color: #00FFFF
}
.buds:hover ~ .menu .option-4 a{
    color: #00FFFF
}
a{
    color: white;
    text-decoration: none;
}

.separator{
    border: 1px solid gray;
    margin : 20px 35px 20px 35px
}
.footer{
    padding : 20px 35px 20px 35px;
    justify-content: space-between;
}
.footer-left{
    width: 30%;
}
.footer-right{
    width: 60%;
}
.d-flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
label{
    font-size: 12px;
}
.website-info img{
    height: 80px;
    width:auto;
    object-fit: cover;
}
.website-name h1 {
    font-size: 18px;
}
.web-description{
    font-weight: 400;
    opacity: 0.6;
}
section{
    display: flex;
    justify-content: space-between;
}
section div{
    width: 45%;
}
input ,textarea{
    width: 100%;
    padding:10px;
    background: transparent;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
    margin-top: 5px;
    color: white;
}
.submit{
    background-color: #57A7F8;
    color: white;
    padding : 8px;
    padding-left : 25px;
    padding-right : 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    float: right;
    margin-top: 10px;
}
@media screen and (max-width : 576px) {
    .footer{
        flex-direction: column;
    }
    .footer-left{
        width: 100%;
    }
    .footer-right{
        width: 100%;
        margin-top: 25px;
    }
    section{
        flex-direction: column;
        gap:15px;
    }
    section div{
        width: 100%;
    }
    .submit{
        float: left;
    }
    
}

/* Pagination */
.pagination-section{
    margin: 15px 25px;
    position: relative;
    overflow: hidden;
}

.pagination{
    display: inline-block;
}

.pagination-button{
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    font-size: large;
}

#pagination{
    overflow: hidden;
}
#items{
    width: 300%;
    position: relative;
    margin: 0;
    left:  0;
}
.item{
    float: left;
    width: 33.333%;
    display: flex;
    justify-content: space-between;
}
.active{
    background-color: green;
    border-radius: 4px;
}
.pagination{
    margin-top: 15px;
}
@keyframes frame1 {
    100% {
        left: 0%;
    }
}

@keyframes frame2 {
    100% {
        left: -100%;
    }
}

@keyframes frame3 {
    100% {
        left: -200%;
    }
}
